.container {
    display: flex;
    margin-bottom: 20px;
    width: 100%;
}

.message {
    padding: 20px;
    background: #F4F7FE;
    border-radius: 8px;
    width: 100%;
    margin-left: 16px;
    white-space: pre-line;
}
